* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.logo {
  padding-top: 16px;
  width: 198px;
  height: 44px;
}

.top {
  height: 735px;
  background-image: url(img/topback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog {
  height: 400px;
  background-image: url(img/catalogtopback.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top__text {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  text-align: left;
}

.header {
  height: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid;
  background-size: border-box;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
  color: #FFFFFF;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

/*.top__content {
    max-height: 659px;
}*/
body {
  font-family: "Montserrat", serif;
  color: #000000;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  text-align: left;
}
.menu-mob {
  display: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.title {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #FFFFFF;
  text-align: left;
}

.title__main {
  margin-top: 32px;
  margin-bottom: 14px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #FFFFFF;
  max-width: 760px;
  text-align: left;
}

.title__cat {
  margin-top: 126px;
  margin-bottom: 127px;
  text-align: left;
}

.top-text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  padding-top: 16px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 400;
  text-align: left;
}

.top__catalog {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 41px;
  padding-top: 64px;
}

.toolsbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.toolsbar__nav {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.selektor__item {
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-self: flex-end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.selektor__filtr {
  position: relative;
  width: 182px;
  height: 40px;
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  background-position: 142px;
  background-color: #FFFFFF;
  padding-top: 9px;
}

.selector__popular {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  background-position: 182px;
}

.selector__popular {
  width: 227px;
  height: 40px;
}

.for-box {
  padding-top: 64px;
  padding-bottom: 64px;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  height: 415px;
  grid-column: span 4;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for1.jpeg);
}

.for__item_2 {
  background-image: url(img/for2.jpeg);
}

.for__item_3 {
  background-image: url(img/for3.jpeg);
}

.for__item_4 {
  background-image: url(img/for4.jpeg);
}

.for__item_5 {
  background-image: url(img/for5.jpeg);
}

.product__box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product__card {
  width: 378px;
  position: relative;
}

.product__card:hover .product__icon {
  display: block;
}

.product__icon {
  position: absolute;
  display: none;
  top: 12px;
  right: 13px;
}

.product__icon_bag {
  padding-right: 35px;
}

.product__title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  text-align: left;
  padding-bottom: 32px;
  padding-top: 64px;
}

.product__picture {
  width: 100%;
  height: 250px;
}

.product__subtitle {
  margin-top: 10px;
  margin-bottom: 9px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.product__description {
  margin-bottom: 12px;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.product__wrap-price {
  display: flex;
  gap: 32px;
}

.product__discount {
  width: 151px;
  height: 29px;
  left: 1px;
  top: 348px;
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.product__price {
  width: 151px;
  height: 29px;
  left: 1px;
  top: 348px;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  text-decoration-line: line-through;
}

.product__catalog {
  margin-top: 39px;
  width: 155px;
  height: 24px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
}
.product__catalog:hover {
  text-decoration-line: none;
  color: rgb(136, 136, 136);
}

.footer {
  background-color: rgb(247, 246, 246);
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-bottom {
  width: 198px;
  height: 44px;
  left: 0;
  top: 3383px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  gap: 129px;
}

.menu1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu1_header {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  text-decoration: none;
}

.menu1_link {
  width: 64px;
  height: 17px;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  row-gap: 12px;
}

.contact {
  row-gap: 12px;
  display: flex;
  flex-direction: column;
}

.contact__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.contact__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.contact__news {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.contact__vk {
  padding-right: 20px;
}

.contact__svg:hover path {
  fill: rgb(0, 0, 0);
}

.contact__telegram {
  padding-right: 20px;
}

.news {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.news1 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: rgb(0, 0, 0);
  row-gap: 12px;
}

.footer__input {
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: #FFFFFF;
  padding-bottom: 8px;
  width: 260px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(196, 196, 196);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.footer__input::-moz-placeholder {
  color: #C4C4C4;
}
.footer__input::placeholder {
  color: #C4C4C4;
}

.follow {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-family: Montserrat;
}
.follow:hover {
  color: #FFFFFF;
  background: #000000;
  transition: all 1s;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.top-cart {
  height: 400px;
  background-image: url(img/top-cart.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
  color: rgb(0, 0, 0);
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__name-box_product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 71px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  height: 173px;
  width: 173px;
  margin-right: 32px;
}
.cart__info {
  width: 582px;
  height: 173px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart__info_data {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__info_sum {
  height: 51px;
  width: 71px;
  background-color: rgb(247, 246, 246);
  font-family: inherit;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-image: url(img/vector11.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-self: flex-end;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__button-box {
  margin-top: 28px;
}
.cart__button-clr-flw {
  width: 200px;
  height: 37px;
  font-family: Montserrat;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  background-color: white;
}
.cart__button-clr-flw:hover {
  color: #FFFFFF;
  background: black;
  transition: all 1s;
}
.cart__title-pao {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 42px;
}
.cart__input-box {
  font: inherit;
  height: 143px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  font-family: Montserrat;
}
.cart__input {
  font: inherit;
  outline: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-align: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__total {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64px;
}
.cart__button-pao-form {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.cart__button-pao {
  width: 290px;
  height: 41px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
}
.cart__button-pao:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
}
.cart__content {
  grid-column: span 8;
}
.cart__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 190px;
  height: 29px;
}
.cart__data {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  width: 276px;
  height: 50px;
  padding-bottom: 14px;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  width: 100px;
  height: 20px;
  left: 326px;
  top: 632px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart__link-box {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
  width: 85px;
  height: 29px;
  left: 327px;
  top: 667px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart__link-box_fav {
  margin-right: 32px;
  color: rgb(0, 0, 0);
}
.cart__link-box_del {
  color: rgb(0, 0, 0);
}

/*.product__catalog {
    margin-top: 33px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}*/
.footer {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.selector {
  position: relative;
  background-color: #FFFFFF;
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Montserrat;
}
.selector__filtr {
  width: 176px;
}

.filtering-form {
  position: absolute;
  left: -358px;
  top: 54px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 48px 40px 48px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  z-index: 1;
}

.form__filter {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.filter-form__content {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.filter-form__content_left {
  position: static;
  width: 190px;
  height: 392px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter-form__content_right {
  display: flex;
  border: transparent;
  margin-left: 64px;
  position: static;
}

.filter-form__content_fieldset {
  border: none;
}

.filter-form__content_legend {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Montserrat;
  margin-bottom: 14px;
}

.range__label {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.checkbox__label {
  color: rgb(0, 0, 0);
  position: relative;
  font-size: 14px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 17px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.content__position {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__time {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 26px;
  font-family: Montserrat;
  font-size: 14px;
  color: black;
}

input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 60px;
  background-image: url(img/round.svg);
  background-repeat: no-repeat;
  background-position: center;
}

input[type=radio]:checked + label::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  background-image: url(img/checkmark.png);
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.range__slider {
  position: static;
  width: 190.5px;
  height: 0;
  border: 1px solid rgb(0, 0, 0);
}

.range__input {
  position: absolute;
  width: 190.5px;
  height: 8px;
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  display: inline-block;
  position: static;
  width: 190.5px;
  height: 8px;
  margin: 14px 0px;
  color: rgb(0, 0, 0);
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.checkbox__for {
  position: static;
}

.checkbox__input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkbox__color {
  display: flex;
  gap: 14px;
  height: 44px;
  width: 189px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox__color-options {
  height: 14px;
  width: 14px;
  gap: 14px;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.checkbox__label-color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  width: 189px;
  height: 44px;
}

.checkbox__input {
  display: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 10px;
  width: 14px;
  height: 14px;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__input:checked + .checkbox-label::before {
  background-image: url(img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__color_white::before {
  background-color: #fff;
  border-color: #808080;
}

.checkbox__color_black::before {
  background-color: #000;
  border-color: #000;
}

.checkbox__color_gray::before {
  background-color: #737373;
  border-color: #737373;
}

.checkbox__color_red::before {
  background-color: #f00;
  border-color: #f00;
}

.checkbox__color_orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}

.checkbox__color_yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}

.checkbox__color_green::before {
  background-color: #008000;
  border-color: #008000;
}

.checkbox__color_ligthgreen::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}

.checkbox__color_blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}

.checkbox__color_darkblue::before {
  background-color: #00f;
  border-color: #00f;
}

.checkbox__color_darkpurple::before {
  background-color: #800080;
  border-color: #800080;
}

.checkbox__color_purple::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.checkbox__color_ligthpurple::before {
  background-color: #d89aff;
  border-color: #d89aff;
}

.checkbox__color_pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}

.checkbox__input:checked + .checkbox__color_white::before,
.checkbox__input:checked + .checkbox__color_black::before,
.checkbox__input:checked + .checkbox__color_gray::before,
.checkbox__input:checked + .checkbox__color_red::before,
.checkbox__input:checked + .checkbox__color_orange::before,
.checkbox__input:checked + .checkbox__color_yellow::before,
.checkbox__input:checked + .checkbox__color_green::before,
.checkbox__input:checked + .checkbox__color_ligthgreen::before,
.checkbox__input:checked + .checkbox__color_blue::before,
.checkbox__input:checked + .checkbox__color_darkblue::before,
.checkbox__input:checked + .checkbox__color_darkpurple::before,
.checkbox__input:checked + .checkbox__color_purple::before,
.checkbox__input:checked + .checkbox__color_ligthpurple::before,
.checkbox__input:checked + .checkbox__color_pink::before {
  background-image: url(img/checkmark.png);
}

.checkbox__input:checked + .checkbox__color_black::before {
  background-image: url(img/whitechekmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.room-type {
  position: static;
  padding-right: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex: none;
  border: none;
}

.filter-form__button {
  position: relative;
  width: 190px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-start;
  align-self: flex-end;
  gap: 10;
  padding: 10px 76px 10px 76px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product__box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .logo-bottom {
    display: none;
  }
  .navigation {
    min-width: 720px;
    justify-content: space-between;
  }
  .filter {
    position: relative;
  }
  .filtering-form {
    position: absolute;
    top: 54px;
    left: -114px;
  }
  .cart {
    display: flex;
    flex-direction: column;
  }
  .cart__form {
    width: 376px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .product__card {
    width: 345px;
  }
  .navigation {
    min-width: 720px;
    justify-content: space-between;
  }
  .filter {
    position: relative;
  }
  .filtering-form {
    position: absolute;
    top: 54px;
    left: -114px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: transparent;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
    height: 22px;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .title__main {
    width: 343px;
    height: 177px;
  }
  .title__cat {
    margin-top: 50px;
  }
  .heading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    padding-bottom: 171px;
  }
  .top__content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 16px;
  }
  .top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 767px;
  }
  .top__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 14px;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: left;
  }
  .selector {
    display: flex;
    flex-direction: column-reverse;
    text-align: start;
    gap: 10px;
  }
  .filter {
    position: relative;
  }
  .filtering-form {
    position: absolute;
    flex-direction: column;
    top: 108px;
    height: 910;
    width: 286;
    left: 0px;
  }
  .content__position {
    flex-direction: column;
    gap: 32px;
  }
  .content__position_right {
    margin-left: 0px;
  }
  .filter-form__button {
    margin-left: 0px;
    align-self: flex-start;
  }
  .filter-form__content_right {
    margin-left: 0px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
  }
  .cart__name-box {
    display: none;
  }
  .cart__left {
    display: none;
  }
  .cart__content {
    grid-column: 1/-1;
  }
  .cart__img {
    display: none;
  }
  .cart__title {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__data {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__button-box {
    display: flex;
    gap: 14px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__button-clr-flw {
    width: 166px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .cart__button-clr-flw:hover {
    background-color: black;
    color: #FFFFFF;
    transition: all 5s;
  }
  .cart__form {
    max-width: 100%;
  }
  .cart__title-pao {
    padding-top: 42px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
  .cart__button-pao {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .cart__input-box {
    width: 288px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .cart__total {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    padding-top: 64.5px;
    padding-bottom: 18px;
  }
  .product__title {
    font-size: 24px;
    line-height: 29px;
  }
  .product__card {
    max-width: 100% px;
    max-height: 100%;
  }
  .product__picture {
    max-width: 100% px;
    height: auto;
  }
  .product__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 342px;
  }
  .product__wrap-price {
    font-size: 18px;
    line-height: 22px;
  }
  .product__discount {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .logo-bottom {
    display: none;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 34px;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
}/*# sourceMappingURL=style.css.map */